doctype html
head
  link(rel='stylesheet', href='/stylesheets/output.css')
  link(rel='stylesheet', href='/stylesheets/w3.css')
  meta(charset='utf-8')
  meta(http-equiv='x-ua-compatible', content='ie=edge')
  meta(name='referrer', content='origin')
  meta(name='robots', content='noodp,noydir')
  meta(http-equiv='Cache-control', content='public')
  meta(name='keywords', content='Base de Dados de Jurisprudencia, DGSI, Legislação, Portugal')
  meta(name='description', content='Portal de pesquisa das decisões de todos os Tribunais Superiores desde 1932.')
  meta(name='viewport', content='width=device-width,initial-scale=1.0')
  meta(property='og:url', content='http://jurisprudencia.csm.org.pt/')
  meta(property='og:type', content='website')
  meta(property='og:title', content='EW - Acordãos')
  meta(property='og:description', content='Portal de pesquisa de Jurisprudência Portuguesa do Conselho Superior da Magistratura de Portugal, contém as decisões de todos os Tribunais Superiores desde 1932.')
  meta(property='og:image', content='http://jurisprudencia.csm.org.pt/images/ecli_facebook.png')
  meta(property='og:image:secure_url', content='http://jurisprudencia.csm.org.pt/images/ecli_facebook.png')
  meta(property='og:image:type', content='image/png')
  meta(property='og:image:width', content='256')
  meta(property='og:image:height', content='256')
  title EW - Acordãos
  link(rel='icon', href='/themis.ico', type='image/x-icon')
  link(rel='apple-touch-icon', href='/images/apple-touch-icon.png')
  link(rel='apple-touch-icon-precomposed', sizes='256x256', href='/images/apple-touch-icon.png')
  script(type='text/javascript', src='/javascripts/main-jscript.min.js', defer='')
  script(src='/javascripts/script.js')
input#is-mobile-app(type='hidden', value='')

body
  block content