doctype html
head
  link(rel='stylesheet', href='/stylesheets/output.css')
  link(rel='stylesheet', href='/stylesheets/w3.css')
  meta(charset='utf-8')
  meta(property='og:title', content='EW - Acordãos')
  title EW - Acordãos
  link(rel='icon', href='/themis.ico', type='image/x-icon')
  link(rel='apple-touch-icon', href='/images/apple-touch-icon.png')
  link(rel='apple-touch-icon-precomposed', sizes='256x256', href='/images/apple-touch-icon.png')
  script(type='text/javascript', src='/javascripts/main-jscript.min.js', defer='')
  script(src='/javascripts/script.js')
input#is-mobile-app(type='hidden', value='')

body
  block content